.tablesContainer {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 50px;
  margin-left: 20px;
  color: rgba(255, 255, 255, 0.95);
}

.tableSecondRow {
  position: relative;
}
